.nav {

  height: 50px;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding-left: 10px;
  justify-content: flex-end;
  border-bottom: 1px solid #88828D;
  
}

.nav h1{
  margin-right: auto;
  color: grey;
}

.nav a{
  color: grey;
  text-decoration: none;
}

.title{
  color: #392AB8;
  opacity: 0.8;
  display: flex;
  justify-content: center;
}

.profile{
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid transparent; /* Always have a border, but transparent by default */
  box-sizing: border-box;
}

.profile p{
  margin-left: 10px;
  font-size: 22px;
}

.profile_list{
  display: flex;
  flex-direction: column;
  margin-left: 35%;
}

.footer{
  background-color: #392AB8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.footer h2{
  width: 200px;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

.footer a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: arial;
}

.footer img{
  margin-left: 10px;
}
